{% extends 'layout.jinja2' %}

{% block title -%}
HOME
{%- endblock %}

{% block content %}
  <div class="w3-display-middle">
        <h1>Welcome Kind Person!</h1>

        <div id="data">
        <h2>{{data}}</h2>
        </div>
  </div>
{% endblock %}

  