{% extends 'layout.jinja2' %}

{% block title -%}
JSON
{%- endblock %}

{% block content %}
  <div class="w3-display-middle">
    		<h1>Read Cars.json</h1>
    		<div id="data">
    		<h3>{%- for line in data %}
    		 {{ line }}
    		  <br>
    		{% endfor %}</h3>
    		</div>
  </div>
{% endblock %}

  