{% extends 'layout.jinja2' %}

{% block title -%}
XML
{%- endblock %}

{% block content %}
  <div class="w3-display-middle">
    		<h1>Read Cars.xml</h1>
    		<div id="data">
    		<h3>{%- for line in data %}
    		 {{line}}
    		{% endfor %}</h3>
    		</div>
  </div>
{% endblock %}

  