{% extends 'layout.jinja2' %}

{% block title -%}
HOME
{%- endblock %}

{% block content %}
  <div class="w3-display-middle">
        <p>SELECT * FROM TBCars</p>
        <div id="data">

        <tr><td?
        <p>{{data}}</p>
        </tr></td>
        
        </div>
  </div>
{% endblock %}

  